.container{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid green;
}

.grid{
    height: 600px;
    width: 600px;
    background-color:black;
    
    display: flex;
    flex-flow: wrap; 
}

.controls{
    border: 1px solid red; 
}

.box{
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid black;

}

.box.clicked{
    background-color: red;
}

/*.grid{
    height: 500px;
    width: 600px;
    display: inline-grid;
    background-color: grey;
    display: flex;
    flex-flow: row wrap;
}

.box{
    border: 1px solid black;
}*/