body{
    background-color: #F6FEDB;
}
.header{
    text-align: center;
    padding : 50px 0 50px 70px;
    font-family: 'Cabin', sans-serif;
    color: #988F2A;
}
.container{
    display:flex;
    justify-content: center;
}

.grid{
    height: 600px;
    width: 600px;
    background-color: #B6C454;
    display: flex;
    flex-flow: wrap; 
}

.controls{
    padding-top: 200px;
    padding-right: 10px;
    text-align: center;
}

.box{
    background-color: white;
    border-radius: 2px;
    border: 0.5px solid #D8D174;
}

.box.clicked{
    background-color: #B6C454;
}

.click{
    background-color: #B6C454;
    height: 50px;
    width:150px;
    color: #988F2A;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Cabin', sans-serif;
    font-weight: bolder;
}